{% extends "recipes/base.html" %}
{% block title %}Рецепты{% endblock %}
{% block content %}
<div class="features">
    <h2> Рецепты </h2>
    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="{% url 'recipes:detail' recipe.id %}"><h3>{{recipe.title}}</h3></a>
            {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="img-thumbnail">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
