{% extends "recipes/base.html" %}
{% block title %}{{recipe.title}}{% endblock %}
{% block content %}
<div class="features">
    <h4>{{recipe.categories}}</h4>
    <h2>{{recipe.title}}</h2>
    <p> Автор: {{recipe.author}}</p>
    <p>{{recipe.description}}</p>
    {% if recipe.image %}
    <img width="400px" src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="img-fluid">
    {% else %}
    <p>Изображение отсутствует</p>
    {% endif %}
    <h3>Приготовление:</h3>
    <p>{{recipe.preparation_steps}} </p>
    <p>Время приготовления: {{recipe.preparation_time}} минут</p>
</div>
{% endblock %}